form{
    border-radius: 10px;
    padding: 20px;
    background-color: #242f3d;
    gap:10px;
    color: white;
    font-size: 24px;
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form > div{
    color: #fff;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
input {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #17212b;
    color: #cccccc;
}

form > button{
    font-size: 24px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #242f3d;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #35465a;
    color: #64aed9;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form > button:hover {
    background-color: #64aed9;
    color: #242f3d;
    transform: translateY(2px);
}
select, option{
    font-size: 20px;
    background-color: #17212b;
    color: #cccccc;

}