.order-id{
    text-align: center;
    color: white;

}
.information{
    border-radius: 10px;
    padding: 20px;
    background-color: #242f3d;
    gap:15px;
    color: white;
    font-size: 24px;
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information > a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #4a6281;
    transition: all ease-in-out 0.5s;
    margin-bottom: 30px;
}

.information > a:hover{
    background-color: #64aed9;
    color: #242f3d;
    transform: translateY(2px);
}
.order-tickets-block h3{
    margin-top: 70px;
    font-size: 30px;
    color: white;
    text-align: center;
}
.information > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

