body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #17212b;
}

h1 {
    text-align: end;
    color: #cccccc;
}

/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь */

}

/* Style for table header */
th {
    padding: 22px;
    font-size: 20px;
    background-color: #242f3d;
    color: #cccccc;
    border: 1px solid #ddd; /* Додаємо бордер для кращого виділення заголовку таблиці */
}

/* Style for table cells */
td, th {
    color: #cccccc;
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px;
}

td {
    font-size: 18px;
    background-color: #293446;
}

/* Style for the table heading */
h2 {
    margin-top: 75px;
    font-size: 28px;
    text-align: center;
    color: #cccccc;
}

select {
    font-size: 18px;
    background-color: #40546c;
    color: #cccccc;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 4px;
}

option {
    padding: 5px;
}

button {
    margin: 32px auto 0;
    padding: 12px 24px;
    font-size: 20px;
    background-color: #35465a;
    color: #cccccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Hover effect for the Buy button */
button:hover {
    transform: translateY(2px);
    background-color: #242f3d;
}

@media (max-width: 768px) {
    h1 {
        text-align: center;
    }
    table {
        box-shadow: none;
        border: 1px solid #ddd;
        overflow-x: auto;
    }
    th {
        border: 1px solid #ddd;
    }
    td, th {
        padding: 8px;
    }
    td {
        font-size: 16px;
    }
    button {
        width: 100%;
    }
}