<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/employees.css" type="text/css">
    <link rel="stylesheet" href="/static/titleSection.css" type="text/css">
    <link rel="stylesheet" href="/static/tableConfiguration.css" type="text/css">
    <link rel="stylesheet" href="/static/buttonConfiguration.css" type="text/css">
    <link rel="stylesheet" href="/static/formConfiguration.css" type="text/css">
    <title>Lab4. AdminPanel. Співробітники</title>
</head>
<body>
<div class="title-section">
    <!-- "Go back" button -->
    <button onclick="window.history.back();">←</button>
    <h2>Інформація про співробітників</h2>
</div>

<form>
    <div>
        <label for="fromAge">Від:</label>
        <input type="number" id="fromAge" name="fromAge">
    </div>
    <div>
        <label for="toAge">До:</label>
        <input type="number" id="toAge" name="toAge">
    </div>
    <button onclick="filterEmployeesByAge()">Фільтрувати за віком</button>
</form>


<table border="1">
    <thead>
    <tr>
        <th>ID співробітника</th>
        <th>ПІБ</th>
        <th>Вік</th>
        <th>Стать</th>
        <th colspan="2">Дія</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through the list of employees -->
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.employeeId}"></td>
        <td th:text="${employee.fullName}"></td>
        <td th:text="${employee.age}"></td>
        <td th:text="${employee.sex}"></td>
        <!-- Link to employee's page -->
        <td>
            <a th:href="@{~/employees/{employeeId}(employeeId=${employee.employeeId})}">
                <button class="view-detail-button">Переглянути деталі</button>
            </a>
        </td>
        <td>
            <a th:onclick="deleteEmployee([[${employee.employeeId}]])">
                <button class="delete-button">Видалити</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<h3>Додавання нового співробітника</h3>

<!-- New Employee Form -->
<form id="newEmployeeForm">
    <div>
        <label for="fullName">ПІБ:</label>
        <input type="text" id="fullName" name="fullName" required>
    </div>

    <div>
        <label for="age">Вік:</label>
        <input type="number" id="age" name="age" required>
    </div>

    <div>
        <label for="sex">Стать:</label>
        <select id="sex" name="sex" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
    </div>

    <button type="button" onclick="submitNewEmployee()">Створити співробітника</button>
</form>

<script>

    function filterEmployeesByAge() {
        const fromAge = document.getElementById('fromTime').value
        const toAge = document.getElementById('toTime').value

        if(fromAge > toAge){
            alert('Початковий вік більший за кінцевий')
        } else {
            const url = location.href
            location.replace(`${url}?fromAge=${fromAge}&toAge=${toAge}`);
        }
    }
    function deleteEmployee(employeeId) {
        fetch('/api/employees/' + employeeId, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                window.location.reload()
            })
            .catch(error => {
                // Handle errors
                alert("Співробітника не вдалось видалити :(")
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    function submitNewEmployee() {
        // Get form data
        const fullName = document.getElementById("fullName").value;
        const age = document.getElementById("age").value;
        const sex = document.getElementById("sex").value;

        // Create JSON data
        const jsonData = {
            'fullName': fullName,
            'age': age,
            'sex': sex
        };

        // Make a fetch POST request to create a new employee
        fetch('/api/employees', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                window.location.reload();
            })
            .catch(error => {
                // Handle errors
                alert("Нового співробітника не вдалось додати :(")
                console.log('There was a problem with the fetch operation:', error);
            });
    }
</script>

</body>
</html>