<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/employee.css" type="text/css">
    <link rel="stylesheet" href="/static/titleSection.css" type="text/css">
    <title>Lab4. AdminPanel. Співробітник. Деталі</title>
</head>
<body>
<!-- Employee Information -->
<!-- "Go back" button -->

<div>
    <div class="title-section">
        <button onclick="window.history.back();">←</button>
        <h2>Інформація про співробітника</h2>
    </div>
    <div class="employee-information">
        <div>
            <strong>ID співробітника:</strong> <span th:text="${employee.employeeId}"></span>

        </div>
        <div>
            <strong>ПІБ:</strong>
            <input type="text" th:value="${employee.fullName}" id="fullNameInput">
        </div>

        <div>
            <strong>Вік:</strong>
            <input type="number" th:value="${employee.age}" id="ageInput">
        </div>
        <div>
            <strong>Стать:</strong>
            <select id="sexSelect">
                <option value="male" th:selected="${employee.sex == 'male'}">Male</option>
                <option value="female" th:selected="${employee.sex == 'female'}">Female</option>
                <option value="other" th:selected="${employee.sex == 'other'}">Other</option>
            </select>
        </div>
        <div>
            <strong>Фото:</strong>
            <input type="file" id="photoFile" lang="uk">
        </div>
        <div>
            <strong>Метод збереження фото:</strong>
            <select id="photoStorageMethod">
                <option value="file">У файлі</option>
                <option value="database">У базі даних</option>
            </select>
        </div>
        <button onclick="saveEdits()">Зберегти зміни</button>
    </div>
</div>

<script>

    function saveEdits() {
        // Get the current URL
        const currentUrl = window.location.href;

        // Use a regular expression to extract the ID path parameter
        const match = currentUrl.match(/\/employees\/([^/]+)/);

        // Check if the match is found
        if (!match) {
            alert("Employee ID not found in the URL");
        }

        const employeeId = match[1];

        const fullName = document.getElementById("fullNameInput").value;
        const age = document.getElementById("ageInput").value;
        const sex = document.getElementById("sexSelect").value;
        const photoStorageMethod = document.getElementById("photoStorageMethod").value;
        const photo = document.getElementById("photoFile").files[0]

        const formData = new FormData()
        formData.append('fullName', fullName)
        formData.append('age', age)
        formData.append('sex', sex)
        formData.append('photoStorageMethod', photoStorageMethod)
        formData.append('photo', photo)


        fetch('/api/employees/' + employeeId, {
            method: 'PUT',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                alert("Зміни успішно збережено!")
                console.log("Changes saved!")
            })
            .catch(error => {
                // Handle errors
                alert("Зміни не вдалось зберегти :(")
                console.error('There was a problem with the fetch operation:', error);
            });
    }
</script>
</body>
</html>