<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/order.css" type="text/css">
    <link rel="stylesheet" href="/static/titleSection.css" type="text/css">
    <link rel="stylesheet" href="/static/buttonConfiguration.css" type="text/css">
    <link rel="stylesheet" href="/static/tableConfiguration.css" type="text/css">
    <title>Lab4. AdminPanel. Замовлення. Деталі</title>
</head>
<body>

<div class="title-section">
    <!-- "Go back" button -->
    <button onclick="window.history.back();">←</button>
    <h2>Інформація про замовлення</h2>
</div>


<h1 class="order-id"><strong>ID замовлення:</strong> <span th:text="${order.orderId}"></span></h1>

<!-- Viewer Information -->
<div class="information">
    <a th:href="@{~/viewers/{viewerId}(viewerId=${order.viewer.viewerId})}">Інформація про глядача </a>
    <div>
        <div>
            <strong>ID глядача:</strong> <span th:text="${order.viewer.viewerId}"></span>
        </div>
        <div>
            <strong>ПІБ:</strong> <span th:text="${order.viewer.fullName}"></span>
        </div>
        <div>
            <strong>Вік:</strong> <span th:text="${order.viewer.age}"></span>
        </div>
        <div>
            <strong>Стать:</strong> <span th:text="${order.viewer.sex}"></span>
        </div>
    </div>
</div>

<!-- Order Tickets -->
<div class="order-tickets-block">
    <h3>Замовлені квитки</h3>
    <table border="1">
        <thead>
        <tr>
            <th>ID квитка</th>
            <th>Номер місця</th>
            <th>Час</th>
            <th>Назва фільму</th>
            <th colspan="3">Дія</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the list of tickets -->
        <tr th:each="ticket : ${order.tickets}">
            <td th:text="${ticket.ticketId}"></td>
            <td th:text="${ticket.placeNumber}"></td>
            <td th:text="${#dates.format(new java.util.Date(ticket.time), 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${ticket.movieTitle}"></td>
            <td>
                <a th:href="@{~/tickets/{ticketId}(ticketId=${ticket.ticketId})}">
                    <button class="view-detail-button">Переглянути деталі</button>
                </a>
            </td>
            <td>
                <a th:onclick="deleteTicket([[${ticket.ticketId}]])">
                    <button class="delete-button">Видалити</button>
                </a>
            </td>
            <td>
                <a th:onclick="removeTicketFromOrder([[${ticket.orderId}]],[[${ticket.ticketId}]])">
                    <button class="remove-button">Видалити з замовлення</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- JavaScript to handle "Go back" button -->
<script>
    function goBack() {
        window.history.back();
    }

    function deleteTicket(ticketId) {
        fetch(`/api/tickets/${ticketId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                window.location.reload();
            })
            .catch(error => {
                // Handle errors
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    function removeTicketFromOrder(orderId, ticketId) {
        // Implement the logic to delete a ticket
        // Make a fetch DELETE request to delete the ticket
        fetch(`/api/orders/${orderId}/tickets/${ticketId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                window.location.reload();
            })
            .catch(error => {
                // Handle errors
                console.error('There was a problem with the fetch operation:', error);
            });
    }
</script>

</body>
</html>