<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/tickets_style.css" type="text/css">
    <title>Lab4. Buy Tickets</title>
</head>

<body>

<h1 id="greeting">Вітаю, username !</h1>

<h2>Ваші замовлення</h2>

<table id="ordersTable">
    <thead>
    <tr>
        <th>Номер замовлення</th>
        <th>Назва фільму</th>
        <th>Час</th>
        <th>Номер місця</th>
    </tr>
    </thead>
    <tbody id="ordersBody">
    </tbody>
</table>

<h2>Купити квитки</h2>

<form id="buyForm" method="post" action="/orders">
    <table>
        <thead>
        <tr>
            <th>Назва фільму</th>
            <th>Час</th>
            <th>Номер місця</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the map of movies -->
        <tr th:each="movie : ${tickets}">
            <td th:text="${movie.movieTitle}" id="movieTitle"></td>

            <td>
                <select name="ticketTimeSelect" onchange="loadTicketPlaceNumbers(this)">
                    <option th:each="timeAndTicket : ${movie.timesAndTickets}"
                            th:timestamp="${timeAndTicket.time}"
                            th:text="${#dates.format(new java.util.Date(timeAndTicket.time), 'dd-MM-yyyy HH:mm')}">
                    </option>
                </select>
            </td>

            <td>
                <select multiple name="ticketPlaceNumberSelect" id="ticketPlaceNumberSelect">
                    <option th:each="ticket: ${movie.timesAndTickets[0].tickets}"
                            th:ticketId="${ticket.ticketId}">
                        Місце [[${ticket.placeNumber}]]
                    </option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Add a Buy button to submit the form -->
    <div style="margin: 0 auto; display: flex; justify-content: center" th:switch="${tickets.size == 0}">
        <button th:case="true" type="button" onclick="buyTickets()" disabled>Замовити</button>
        <button th:case="false" type="button" onclick="buyTickets()">Замовити</button>
    </div>
</form>

<!-- JavaScript to handle orders display -->
<script>
    window.onload = function () {
        const viewerId = localStorage.getItem("viewerId")
        if (viewerId) {
            // Make a fetch POST request with the JSON payload
            fetch(`/api/viewers/${viewerId}`, {
                method: 'GET'
            })
                .then(response => {
                    if (!response.ok) {
                        if (response.status === 404) {
                            alert("Глядача з id " + viewerId + " не знайдено!")
                            localStorage.removeItem("viewerId")
                            const url = location.href
                            location.replace(`${url}/..`);
                        }
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const greeting = document.getElementById("greeting")
                    greeting.innerText = `Вітаю, ${data.fullName}!`
                })
                .catch(error => {
                    // Handle errors
                    console.error('There was a problem with the fetch operation:', error);
                });
        } else {
            alert("Спочатку зареєструйтесь!")
            const url = location.href
            location.replace(`${url}/..`);
        }

        if (viewerId) {
            // Make a fetch GET request to fetch orders
            fetch(`/api/viewers/${viewerId}/orders`, {
                method: 'GET'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Display orders in the table
                    const ordersTableBody = document.getElementById("ordersBody");
                    data.forEach(order => {
                        const row = ordersTableBody.insertRow();
                        const orderIdCell = row.insertCell()
                        orderIdCell.innerText = order.orderId;
                        orderIdCell.rowSpan = order.tickets.length + 1

                        // Loop through the list of tickets in each order
                        order.tickets.forEach(ticket => {
                            const ticketRow = ordersTableBody.insertRow()
                            ticketRow.insertCell().innerText = ticket.movieTitle;
                            ticketRow.insertCell().innerText = new Date(ticket.time).toLocaleString();
                            ticketRow.insertCell().innerText = ticket.placeNumber;
                        });
                    });
                })
                .catch(error => {
                    // Handle errors
                    console.error('There was a problem with the fetch operation:', error);
                });
        } else {
            alert("Спочатку зареєструйтесь!")
            const url = location.href
            location.replace(`${url}/..`);
        }
    };
</script>

<!-- JavaScript to load ticket place numbers based on the selected time -->
<script>
    // Function to load ticket place numbers based on the selected time
    function loadTicketPlaceNumbers(selectElement) {
        // Get the selected timestamp
        const selectedTimestamp = selectElement.options[selectElement.selectedIndex].getAttribute('timestamp');

        // Get the movie title
        const movieTitle = selectElement.parentElement.parentElement.querySelector("#movieTitle").innerHTML;

        // Make a fetch GET request to fetch ticket place numbers
        fetch(`/api/tickets?movieTitle=${movieTitle}&timestamp=${selectedTimestamp}`, {
            method: 'GET'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Update the ticketPlaceNumberSelect dropdown with the fetched data
                const ticketPlaceNumberSelect = selectElement.parentElement.parentElement.querySelector("#ticketPlaceNumberSelect");
                ticketPlaceNumberSelect.innerHTML = ''; // Clear previous options

                // Loop through the list of tickets and add options
                data.forEach(ticket => {
                    const option = document.createElement("option");
                    console.log(ticket.ticketId)
                    option.setAttribute("ticketId", ticket.ticketId.toString());
                    option.text = `Місце ${ticket.placeNumber}`;
                    ticketPlaceNumberSelect.add(option);
                });
            })
            .catch(error => {
                // Handle errors
                console.error('There was a problem with the fetch operation:', error);
            });
    }
</script>

<!-- JavaScript to handle the form submission -->
<script>
    function buyTickets() {
        // Get the form element
        const form = document.getElementById('buyForm');

        // Get all elements with the class "ticketPlaceNumberSelect"
        const ticketPlaceNumberSelects = form.querySelectorAll('#ticketPlaceNumberSelect');

        // Create an array to store selected ticket ids
        const selectedTickets = [];

        // Loop through each ticketPlaceNumberSelect
        ticketPlaceNumberSelects.forEach(select => {
            // Get the selected options from the current ticketPlaceNumberSelect
            const selectedOptions = getSelectedOptions(select);

            // Extract ticket ids from selected options and add them to the array
            selectedTickets.push(...selectedOptions.map(option => parseInt(option.getAttribute('ticketId'))));
        });

        if (selectedTickets.length === 0) {
            return;
        }

        // Create the JSON object
        const jsonData = {
            "viewerId": localStorage.getItem("viewerId"),
            "ticketIds": selectedTickets
        };

        // Make a fetch POST request with the JSON payload
        fetch('/api/orders', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Handle the response if needed
                console.log(data);
                location.reload();
            })
            .catch(error => {
                // Handle errors
                alert("Квитки не вдалось замовити :(")
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    // Return an array of the selected options
    // select is an HTML select element
    function getSelectedOptions(select) {
        const result = [];
        const options = select && select.options;
        let opt;

        let i = 0, iLen = options.length;
        for (; i<iLen; i++) {
            opt = options[i];

            if (opt.selected) {
                result.push(opt);
            }
        }
        return result;
    }
</script>


</body>

</html>